{% extends "base.htm" %}
{% load staticfiles %}

{% block local_head %}
    {% include "component/table_components.htm" %}
{% endblock %}

{% block content %}
    <div class="container-fluid animated fadeIn">
        <h1 class="text-primary"><b>{{ title }}:</b> {% if sub_title %}<small><small><span class="text-secondary">{{ sub_title }}</span></small></small>{% endif %}</h1>
    </div>

    <!-- summary row -->
    <section class="animated fadeIn">
        <div class="flex-container" style="margin: 5%;">
            <div class="summary-container-wrap text-center">

                <div class="card-deck">
                    <div class="card mb-4 text-center hvr-grow">
                        <div class="card-body bg-light">
                            <h2 class="card-title text-primary"><i class="fa fa-user fa-fw"></i></h2>
                            <h3 class="card-title text-primary">My Locks <small>({{user_locks.count}})</small></h3>
                            <p class="card-text">Current locks I requested</p>
                        </div>
                    </div>

                    <div class="card mb-4 text-center hvr-grow">
                        <div class="card-body bg-light">
                            <h2 class="card-title text-primary"><i class="fa fa-users fa-fw"></i></h2>
                            <h3 class="card-title text-primary">Team Locks <small>({{group_locks.count}})</small></h3>
                            <p class="card-text">Current locks my teammates requested</p>
                        </div>
                    </div>

                    <div class="card mb-4 text-center hvr-grow">
                        <div class="card-body bg-light">
                            <h2 class="card-title text-primary"><i class="fas fa-exclamation-triangle"></i></h2>
                            <h3 class="card-title text-primary">Stale Locks <small>({{stale_locks.count}})</small></h3>
                            <p class="card-text">Locks that remain granted past their expiration time</p>
                        </div>
                    </div>

                    <div class="card mb-4 text-center hvr-grow">
                        <div class="card-body bg-light">
                            <h2 class="card-title text-primary"><i class="fa fa-history fa-fw"></i></h2>
                            <h3 class="card-title text-primary">Lock History <small>({{historical_locks.count}})</small></h3>
                            <p class="card-text">Past locks I requested</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- detail row -->

    <!-- navtab controls -->
    <section class="animated fadeIn" style="animation-delay: .25s;">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-summary-tab" data-toggle="tab" href="#id_tab_summary" role="tab" aria-controls="nav-summary" aria-selected="true">Summary</a>
                <a class="nav-item nav-link" id="nav-user-tab" data-toggle="tab" href="#id_tab_user_granted" role="tab" aria-controls="nav-user" aria-selected="false">User Granted</a>
                <a class="nav-item nav-link" id="nav-team-tab" data-toggle="tab" href="#id_tab_team_granted" role="tab" aria-controls="nav-team" aria-selected="false">Team Granted</a>
                <a class="nav-item nav-link" id="nav-stale-tab" data-toggle="tab" href="#id_tab_stale" role="tab" aria-controls="nav-team" aria-selected="false">Stale Locks</a>
                <a class="nav-item nav-link" id="nav-history-tab" data-toggle="tab" href="#id_tab_history" role="tab" aria-controls="nav-history" aria-selected="false">My Lock History</a>
            </div>
        </nav>

        <!-- navtab content -->
        <div class="tab-content p-4" id="nav-tabContent">
            <div class="tab-pane fade show active" id="id_tab_summary" role="tabpanel" aria-labelledby="nav-summary-tab">
                <div class="container-fluid">
                    <h3 class="mb-5">Summary</h3>
                    <div class="row">
                        <!-- Locks -->
                        <div class="col-4">
                            <h5 class="mb-3">Locks</h5>
                            <div class="ml-3">
                                <div class="row mb-2 border-bottom border-light">
                                    <div class="col-4 text-primary font-weight-bold">Self Granted:</div>
                                    <div class="col-8">{{user_locks.count}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-4 mb-2 text-primary font-weight-bold">Team Granted:</div>
                                    <div class="col-8">{{group_locks.count}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-4 mb-2 text-primary font-weight-bold">Expired:</div>
                                    <div class="col-8">{{stale_locks.count}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-4 mb-2 text-primary font-weight-bold">Historical:</div>
                                    <div class="col-8">{{historical_locks.count}}</div>
                                </div>
                            </div>
                        </div>

                        <!-- space -->
                        <div class="col-2">&nbsp;</div>
                        <!-- Hosts -->
                        <div class="col-4">
                            <h5 class="mb-2">Hosts</h5>
                            {# loop through and display hosts per group #}
                        </div>
                    </div>

                </div>
            </div>

            <!-- navtab for locks granted by user -->
            <div class="tab-pane fade" id="id_tab_user_granted" role="tabpanel" aria-labelledby="nav-user-tab">
                <div class="container-fluid">
                    {% with user_locks as queryset %}
                        {% include table %}
                    {% endwith %}
                </div>
            </div>

            <!-- navtab for locks granted by users teammates -->
            <div class="tab-pane fade" id="id_tab_team_granted" role="tabpanel" aria-labelledby="nav-team-tab">
                <div class="container-fluid">
                    {% with group_locks as queryset %}
                        {% include table %}
                    {% endwith %}
                </div>
            </div>

            <!-- navtab for stale locks-->
            <div class="tab-pane fade" id="id_tab_stale" role="tabpanel" aria-labelledby="nav-team-tab">
                <div class="container-fluid">
                    {% with stale_locks as queryset %}
                        {% include table %}
                    {% endwith %}
                </div>
            </div>

            <!-- navtab for lock history -->
            <div class="tab-pane fade" id="id_tab_history" role="tabpanel" aria-labelledby="nav-history-tab">
                <div class="container-fluid">
                    {% with historical_locks as queryset %}
                        {% include table %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{#    {% include 'component/modals.htm' %}#}