<div class="container-fluid mt-5 mb-5">
    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Key ID:</div>
        <div class="col-sm-9 border-bottom">{{ object.id }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Host:</div>
        <div class="col-sm-9 border-bottom">{{ object.host }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Requester:</div>
        <div class="col-sm-9 border-bottom">{{ object.requester }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Source:</div>
        <div class="col-sm-9 border-bottom">{{ object.source }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Request Details:</div>
        <div class="col-sm-9 border-bottom">{{ object.request_details }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Purpose:</div>
        <div class="col-sm-9 border-bottom">{{ object.purpose }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Notes:</div>
        <div class="col-sm-9 border-bottom">{{ object.notes }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Status:</div>
        <div class="col-sm-9 border-bottom">{{ object.status }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">No Expire:</div>
        <div class="col-sm-9 border-bottom">{{ object.no_expire }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Extend Count:</div>
        <div class="col-sm-9 border-bottom">{{ object.extend_count }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Notes:</div>
        <div class="col-sm-9 border-bottom">{{ object.notes }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Created:</div>
        <div class="col-sm-9 border-bottom">{{ object.created_at }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Updated:</div>
        <div class="col-sm-9 border-bottom">{{ object.updated_at }}</div>
    </div>

    <div class="row mt-2 mb-2 ml-4 mr-4">
        <div class="col-sm-3 border-bottom font-weight-bold text-primary">Expires:</div>
        <div class="col-sm-9 border-bottom">{{ object.expires_at }}</div>
    </div>
</div>
